<h2>All Superheroes</h2>

<h3> Search by Superpower </h3>

<%= form_tag(superheroes_path, method: :get) %>
<%= text_field_tag :superpower %>
<%= submit_tag 'Filter' %>

<ul>
  <% @superheroes.each do |superhero| %>
    <li>
      <%= link_to superhero.super_name, superhero_path(superhero) %>
    </li>
    <br>
  <% end %>
</ul>
