<p><b>This is you:</b> <%=@hero.name%></p>
<p><b>This is you in tights:</b> <%= @hero.super_name%></p>
<p><b>This is what you can do:</b> <%=link_to @hero.superpower.name, superpower_path(@hero.superpower)%></p>
